.nav-bar-fixed + * {
    margin-top: 0;
}
.doc-panel-body {
    background: #fff;
    padding: 5px;
    padding-bottom: 20px;
}
::-webkit-scrollbar {
    height: 6px;
    width: 6px;
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background-color: transparent;
}

:hover::-webkit-scrollbar-thumb {
    background-color: rgba(69,90,100,.2);
}
::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background-color: transparent;
}

.flex .placeholder {
    margin: 5px;
    padding: 0 10px;
    background-color: #ebebeb;
    height: 2.3em;
    line-height: 2.3em;
    text-align: center;
    color: #cfcfcf;
}
