
body {
    min-width: 1100px;
    overflow-x: auto;
    background: #fff;
    font-family: PingFang SC,Helvetica Neue,Arial,sans-serif;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

code,pre.prettyprinted {
    display: block;
    font-size: 13px;
    overflow-x: auto;
    font-weight: 400;
    line-height: 22px;
    border-radius: 3px;
    margin-bottom: 25px;
    position: relative;
    word-break: break-all;
    background-color: #f5f7fa;
    color: #455a64;
    padding: 18px 10px 18px 20px;
    font-family: Source Code Pro,Monaco,Inconsolata,monospace;
}
pre.prettyprinted {
    border: 1px solid #ddd;
    outline: 0;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}
pre.perttyprinted:focus,pre.perttyprinted:hover {
    outline: 0;
    -webkit-box-shadow: 0 1px 15px rgba(0,0,0,.5);
    box-shadow: 0 1px 15px rgba(0,0,0,.5);
    -webkit-animation-name: glow;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    border: #0BB20C;
}
.doc-header {
    width: 100%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-bottom: 1px solid #eaeefb;
}
.doc-header-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #fff;
    padding: 0 40px;
    height: 60px;
    line-height: 60px;

    color: #333;
    font-size: 20px;
}

.doc-nav {
    left: 0;
    top: 60px;
    bottom: 0;
    z-index: 1;
    min-width: 250px;
    max-width: 250px;
    position: fixed;
    overflow-y: scroll;
    padding: 25px 0 75px;
}

.doc-nav .doc-nav-item a {
    margin: 0;
    display: block;
    color: #455a64;
    font-size: 16px;
    padding: 10px 20px 10px 40px;
    line-height: 24px;
    -webkit-transition: all .3s;
    transition: all .3s;
    font-weight: 600;
}
.doc-nav-item .doc-nav-subitem>a {
    font-size: 13px;
    font-weight: normal;
}
.doc-nav .doc-nav-subitem span {
    opacity: .6;
    font-size: 13px;
}
.doc-nav .doc-nav-subitem a.active{
    color: #3498db;
    background-color: #f5f7fa;
}
.doc-nav-subitem a:hover {
    color: #3498db;
    background-color: #f5f7fa;
}

/* 滚动条 */
.doc-nav::-webkit-scrollbar {
    height: 6px;
    width: 6px;
    background-color: transparent;
}

.doc-nav::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background-color: transparent;
}

.doc-nav:hover::-webkit-scrollbar-thumb {
    background-color: rgba(69,90,100,.2);
}
.doc-nav::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background-color: transparent;
}


.doc-container {
    /*overflow: hidden;*/
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #fff;
    padding-left: 250px;
}

.doc-content {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    position: relative;
    padding: 0 0 75px;
}

.doc-content section {
    padding: 10px 40px;
    overflow: hidden;
}

.doc-content section>h2 {
    font-size: 30px;
    margin-bottom: 25px;
}
.doc-content section>h1,.doc-content section>h2,.doc-content section>h3,.doc-content section>h4,.doc-content section>h5,.doc-content section>h6 {
    line-height: 1.5;
    font-weight: 400;
    margin: 20px 0 10px;
    color: rgba(51,51,51,.9);
}

.doc-content section>p {
    margin: 15px 0;
    font-size: 14px;
    line-height: 20px;
    color: #666;
}

.flex .placeholder {
    margin: 5px;
    padding: 0 10px;
    background-color: #ebebeb;
    height: 2.3em;
    line-height: 2.3em;
    text-align: center;
    color: #cfcfcf;
}

.copy-content {
    position: relative;
    overflow: visible;
}


.clippy {
    margin-top: -3px;
    position: relative;
    height: 13px;
    width: 14px;
    left: 1px;
}

.btn-copy {
    height: 30px;
    width: 32px;
    -webkit-transition: opacity 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
    opacity: 0;
    padding: 2px 6px;
    position: absolute;
    right: 12px;
    top: 20px;
    display: inline-block;
    font-size: 13px;
    font-weight: bold;
    line-height: 20px;
    color: #333;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    background-color: #eee;
    background-image: linear-gradient(#fcfcfc, #eee);
    border: 1px solid #d5d5d5;
    border-radius: 3px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-appearance: none;
}

.copy-content:hover .btn-copy, .copy-content .btn-copy:focus {
    opacity: 1;
}

.pre-scrollable {
    max-height: 340px;
    overflow-y: scroll;
}
pre.prettyprinted {
    background-color: #fbfbfc;
    /*max-height: 340px;*/
    /*overflow-y: scroll;*/
}
.prettyprint ol.linenums{
    padding-left: 35px;
    margin-bottom: 0;
    line-height: 20px;
    color: #bebec5;
    text-shadow: 0 1px 0 #fff;
}
.prettyprint ol.linenums li {
    list-style-type: decimal!important;
    background: #f5f5f5;
}

.prettyprinted::-webkit-scrollbar {
    height: 6px;
    width: 6px;
    background-color: transparent;
}

.prettyprinted::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background-color: transparent;
}

.prettyprinted:hover::-webkit-scrollbar-thumb {
    background-color: rgba(69,90,100,.2);
}
.prettyprinted::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background-color: transparent;
}

.doc-panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-color: #ddd;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
.doc-panel-body {
    padding: 15px;
}
.doc-panel-footer {
    padding: 10px 15px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}


.atn, .dec, .typ, .var {
    color: teal;
}

.kwd, .prettyprint .pr-tag {
    color: #1e347b;
}
.pln {
    color: #48484c;
}
.atn, .dec, .typ, .var {
    color: teal;
}
.atv, .str {
    color: #d14;
}

.doc-content table {
    width: 100%;
    font-size: 13px;
    line-height: 1.5;
    margin-bottom: 45px;
    background-color: #fff;
    border-collapse: collapse;
    color: #333;
}
.doc-content table th:first-child {
    padding-left: 10px;
}
.doc-content table th {
    padding: 8px 10px;
    text-align: left;
    font-weight: 400;
    background-color: #f5f7fa;
    border: 1px solid #eaeefb;
}
.doc-content table td {
    padding: 8px;
    border: 1px solid #eaeefb;
}

.doc-content table code {
    padding: 2px!important;
    margin-bottom: 0;
    display: inline-block;
}



.doc-middle {
    overflow: hidden;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #fff;
    padding-right: 400px;
}

.doc-right {
    /*padding: 2px;*/
    /*padding: 50px 2px;*/
    z-index: 1;
    overflow: hidden;
    position: fixed;
    border-radius: 30px;
    background: #f2f2f4;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    right: 40px;
    width: 360px;
    min-width: 360px;
    top: 100px;
    -webkit-box-shadow: rgba(0,0,0,.2) 0 1px 6px, rgba(0,0,0,.2) 0 1px 4px;
    box-shadow: 0 1px 6px rgba(0,0,0,.2), 0 1px 4px rgba(0,0,0,.2);

}

@media (max-width: 1100px){
    .doc-right {
        left: 750px;
        right: auto;
        position: absolute;
    }
    .doc-middle {
        padding-right: 100px;
    }
}


@media (max-width: 1300px) {
    .doc-right {
        width: 320px;
        min-width: 320px;
        position: absolute;
    }
}
.mobile-demo {
    padding: 70px 5px;
    position: relative;
    background: #9ab5ea;
}
.mobile-demo:before {
    content: " ";
    position: absolute;
    left: 0;
    top: 35px;
    right: 0;
    overflow: auto;
    display: table;
    margin: auto;
    text-align: center;
    width: 30%;
    height: 8px;
    border-radius: 20px;
    background: #000;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);

}
.mobile-demo:after {
    content: " ";
    position: absolute;
    left: 0;
    bottom: 25px;
    right: 0;
    overflow: auto;
    display: table;
    margin: auto;
    text-align: center;
    width: 20%;
    height: 25px;
    border-radius: 20px;
    background: #000;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}
.doc-right iframe {
    background: #f2f2f4;
    width: 100%;
    display: block;
    height: 550px;
    border: 0;
}
