<div class="rn-sidebar-wrap">
    <% if (locked){ %>
    <div class="rn-mask"></div>
    <% } %>
    <div class="rn-sidebar <%= className %>">
        <% if (typeof title === 'string' || typeof title.text === 'string') { %>
        <div class="rn-title">
            <div class="rn-title-text"><%= title.text || title %></div>
            <div class="rn-subtitle"><%= title.subtitle || ''  %></div>
        </div>
        <hr class="rn-divider">
        <% } %>
        <div class="rn-list">
            <div class="rn-items">
                <% for(var j = 0; j < items.length; j++){ %>
                <div class="rn-item">
                    <div class="rn-item-title"><%= items[j].name %></div>
                </div>
                <% } %>
            </div>
        </div>
    </div>
</div>
